*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    border: 1px solid red;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid gray;
    gap: 20px;
}
.container-tareas{
    display: flex;
    margin: 5px;
}

.tareas{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 50%;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.totalesTareas{
    width: 50%;
    border: 1px solid red;
}